.App {
  text-align: center;
  position: relative;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bg-logo-img {
  height: 100%;
  width: 100%;
}

.bg-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  height: 70vmin;
  width: 70vmin;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .bg-logo {
    animation: bg-logo-spin infinite 60s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; 
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes bg-logo-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}